/*-- scss:defaults --*/

// Fonts
$font-family-sans-serif: "Fira Sans";
$font-family-monospace: "Fira Mono";

// Document colours
$primary: #DC55BC;
$body-bg: #FFFFFF;
$body-color: #000000;
$link-color: #FFB53C;
$navbar-bg: #00CDB6;
$navbar-fg: #DC55BC;